<form>
  <form class="m-3">
    <div class="mb-3">
      <label for="num1" class="form-label">Primeiro Numero</label>
      <input [(ngModel)] ="num1" type="number" class="form-control" id="num1" name="num1" />
    </div>
    <div class="mb-3">
      <label for="num2" class="form-label">Segundo Numero</label>
      <input [(ngModel)] ="num2" type="number" class="form-control" id="num2" name="num2" />
    </div>
    <div class="mb-3">
      <label for="num3" class="form-label">Terceiro Numero</label>
      <input [(ngModel)] ="num3" type="number" class="form-control" id="num3" name="num3"/>
    </div>
    <button type="button" class="btn btn-danger" (click)="compare()" >Enviar</button>
    <div class="mt-3">
      <label class="form-label">maior numero: {{higher}}</label>
    </div>
  </form>
</form>
